[submodule "app/linkument.me"]
	path = app/linkument.me
	url = git@github.com:linkument/linkument.me.git
[submodule "lib/ui--server--linkument"]
	path = lib/ui--server--linkument
	url = git@github.com:linkument/ui--server--linkument.git
